*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
}
#main{
  width: 100%;
  height: 100%;
}
#welcome-section{
  width: 100%;
  height: 100vh;
  background-color: rgb(8, 64, 113);
}
#navbar{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  column-gap: 100px;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 0;
}
.navlink{
  text-decoration: none;
  color: rgb(209, 204, 204);
  font-size: 1.3em;
  font-weight: light;

}
.navlink:last-of-type{
  margin-right: 100px;
}
.navlink:hover{
  color: black;

}
#welcomeArticle{
  position: relative;
  top: 40%;
  left: 40%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  display: inline-block;
}
#welcomeTitle{
  font-size: 4rem;
}
#welcomeDescription{
  text-align: end;
  font-size: 1.3rem;
  margin-right: 5px;
  letter-spacing: 2px;
  display: inline-block;
  position: relative;
  left: 140px;
}
#welcomeDescription::after{
  content: "";
  
  display: block;
  margin-top: 2px;
  min-width: 30px;
  min-height: 2px;
  background-color: black;
}
#icons{
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
  left: 40px;
  top: 4rem;
  
}
.iconsDEV{
  width: 2rem;
  display: inline-block;
  border-radius: 50%;

}
.iconsDEV:last-of-type{
  margin-left: 1rem;
}
h1 > span{
  color: rgb(209, 204, 204);
  font-weight: bold;
}

.projects{
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 5px;
}
.projectContainer{
  background-color: black;
  display: inline-block;
  padding: 1.5rem calc(10.27% - 1px);
  border-left: 1px double white;
  border-top: 1px double white;
  
}
.projectContainer:first-of-type{
  border-left: none;
  
}



.projectTitle{
  color: rgb(209, 204, 204);
  text-decoration: none;
  font-size: 1.5rem;

}

#footer{
  width: 100%;
  margin-top: 10px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
}
#contact-section{
  display: inline-block;
  margin-left: 130px;
}
.contact::before{
  content: "Meu ";
}
.contact{
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}
.contact:hover{
  text-decoration: underline;
}
#footer p{
  color: white;
  margin-right: 140px;
}

@media (max-width: 768px){
  .contact{
    font-size: 1.5em;
  }
}